@model News
<form class="container-xl" method="post" enctype="multipart/form-data">
    <div class="input-group input-group-lg">
        <span class="input-group-text" id="inputGroup-sizing-lg">Title</span>
        <input type="text" name="title" class="form-control" aria-label="Sizing example input"
            aria-describedby="inputGroup-sizing-lg">
    </div>
    <br>
    <div class="input-group input-group-lg">
        <span class="input-group-text" id="inputGroup-sizing-lg">User Name </span>
        <input type="text" name="userName" class="form-control" aria-label="Sizing example input"
            aria-describedby="inputGroup-sizing-lg">
    </div>
    <div class="form-group">
        <label class="form-label"></label>
        <textarea id="editor1" class="form-control" name="content"></textarea>
    </div>
    <div class="input-group">
        <input type="file" class="form-control" name="photo" id="inputGroupFile04"
            aria-describedby="inputGroupFileAddon04" aria-label="Upload">
        <button class="btn btn-outline-secondary" type="submit" id="inputGroupFileAddon04">Button</button>
    </div>
</form>








@section Scripts{
    <script src="https://cdn.ckeditor.com/4.20.1/standard/ckeditor.js"></script>

    <script>
        CKEDITOR.replace('editor1');
    </script>
}