<form method="post" enctype="multipart/form-data" class="container">
    <div class="form-group">
        <div class="input-group input-group-lg">
            <span class="input-group-text" id="inputGroup-sizing-lg">Name</span>
            <input type="text" name="name"  class="form-control" aria-label="Sizing example input"
                aria-describedby="inputGroup-sizing-lg">
        </div>
    </div>
    <div class="form-group">
        <div class="input-group">
            <input type="text" class="form-control" name="price"
                aria-label="Dollar amount (with dot and two decimal places)">
            <span class="input-group-text">$</span>
            <span class="input-group-text">0.00</span>
        </div>
    </div>
    <div class="form-floating form-group">
        <textarea class="form-control" name="content"  placeholder="Leave a comment here" id="floatingTextarea2"
            style="height: 100px"></textarea>
        <label for="floatingTextarea2">Comments</label>
    </div>

    <div class="input-group">
        <input type="file" class="form-control" name="photo" id="inputGroupFile04" aria-describedby="inputGroupFileAddon04"
            aria-label="Upload">
        <button class="btn btn-outline-secondary" type="submit" id="inputGroupFileAddon04">Button</button>
    </div>
</form>